.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1{
    font-size: 30px;
    width: 100%;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.places article h2 {
    font-size: 30px;
    margin: 10px auto 25px auto;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px #FF5A5F solid;
    border-radius: 45px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px 30px;
}

.information {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    border-top: 1px  #DDDDDD solid;
    border-bottom: 1px  #DDDDDD solid;
}

.max_guest {
    display: flex;
    width: 100px;
    position: relative;
}

#max_guest_logo {
    width: 100%;
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 6px;
}

#max_guest_text {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.number_rooms {
    display: flex;
    width: 100px;
    position: relative;
}

#number_rooms_logo {
    width: 100%;
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 6px;
}

#number_rooms_text {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.number_bathrooms {
    display: flex;
    width: 100px;
    position: relative;
}

#number_bathrooms_logo {
    width: 100%;
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 6px;
}

#number_bathrooms_text {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.user {
    text-align: left;
    margin: 20px auto 10px;
    font-size: 15px;
}

.description {
    text-align: left;
    line-height: 1.3;
}