.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1{
    font-size: 30px;
    width: 100%;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.places article h2 {
    font-size: 30px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px #FF5A5F solid;
    border-radius: 50px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.information {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    border-top: 1px  #DDDDDD solid;
    border-bottom: 1px  #DDDDDD solid;
}

.max_guest {
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    width: 100px;
    background-position: center top;
}

.number_rooms {
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    width: 100px;
    background-position: center top;
}

.number_bathrooms {
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    width: 100px;
    background-position: center top;
}